.thumbnail-row {
  margin-bottom: 50px;
  position: relative;
  height: 300px;

}

.option-button{
  all: unset;
  cursor: pointer;
  font-family:'Annie Use Your Telescope' ;
  font-weight:bold;
  font-size:40px;
}

.thumbnail-button{
  background-color: unset;
  padding: unset;
  margin-top: unset;
  
}
.meal-thumbnail {
  cursor: pointer;
  width: 100%;
  height: 300px;

}

.text-block {
  position: absolute;
  bottom: 20px;
  left: 40px;
  background-color: black;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  opacity: 0.8;
  border-radius: 20px;
}

.user-summary-section{
  font-family: Roboto, Arial;
}

.meals-top-sentence{
  font-size: 36px;
  font-family: 'Annie Use Your Telescope';
  text-align: center;
  margin-top: 40px;
  /* background-color:#151516 ;
  opacity: 0.8; */
}
.meals-top-selection-menu{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

}

.selection-menu-option{
  all: unset;
  text-align: center;
  margin-top: 0;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  margin-bottom: 10px;
}

.meal-card{
  margin-top: 0;
  padding-top: 0;
}
.meal-form{
  text-align: center;
}



.meals-grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 40px;
}

.meal-info-grid{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.meal-title{
  margin-top: 0;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  margin-bottom: 10px;
}

.recipe-text{
  text-align: center;
  margin-bottom: 20px;
  font-size: 36px;
  font-family: 'Annie Use Your Telescope';
  text-align: center;
  width: 100%
}


.recipe-image-row{
  margin-bottom: 50px;
  position: absolute; 
  left: 50%;
  transform: translateX(-50%);
  height: 600px;
  
}

.recipe-button{
  background-color: unset;
  padding: unset;
  margin-top: unset;
  width: 960px;
  height: 540px;
}
.recipe-text-block {
  position: absolute;
  bottom: 100px;
  left: 40px;
  background-color: black;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  opacity: 0.8;
  border-radius: 20px;
}
.recipe-thumbnail{
  width: 960px;
  height: 540px;
  border-radius: 50px;
}
/* @media (max-width: 750px) {
  .meals-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 751px) and (max-width: 999px) {
  .meals-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 1000px) {
  .meals-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  } */
/* } */