
#header {
  align-items: center;
  display: flex;
  justify-content: center;
}

/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

#login {
  margin-top: 10px;
  margin-right: 20px;
  position:absolute;
  top:0;
  right:0;
}
#register {
  margin-top: 10px;
  margin-right: 100px;
  position:absolute;
  top:0;
  right:0;
}

/* Extra styles for the cancel button */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

#banana {
  width: 50%;
}
/* Center the image and position the close button */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}

img.avatar {
  width: 20%;
  border-radius: 50%;
}

.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
      display: block;
      float: none;
  }
  .cancelbtn {
      width: 100%;
  }
}

.welcomepage-intro{
  text-align: center;
  font-size: 40px;

}

@import url(https://fonts.googleapis.com/css?family=Exo:100);
/* Animations */
 @-webkit-keyframes bg-scrolling-reverse {
	 100% {
		 background-position: 50px 50px;
	}
}
 @-moz-keyframes bg-scrolling-reverse {
	 100% {
		 background-position: 50px 50px;
	}
}
 @-o-keyframes bg-scrolling-reverse {
	 100% {
		 background-position: 50px 50px;
	}
}
 @keyframes bg-scrolling-reverse {
	 100% {
		 background-position: 50px 50px;
	}
}
 @-webkit-keyframes bg-scrolling {
	 0% {
		 background-position: 50px 50px;
	}
}
 @-moz-keyframes bg-scrolling {
	 0% {
		 background-position: 50px 50px;
	}
}
 @-o-keyframes bg-scrolling {
	 0% {
		 background-position: 50px 50px;
	}
}
 @keyframes bg-scrolling {
	 0% {
		 background-position: 50px 50px;
	}
}
/* Main styles */
 body {
	 margin-top: 50px;
	 color: #999;
	 font: 400 10.6666666667px exo, ubuntu, "segoe ui", helvetica, arial, sans-serif;
	 text-align: center;
	/* img size is 50x50 */
	 background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAIAAACRXR/mAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAIGNIUk0AAHolAACAgwAA+f8AAIDpAAB1MAAA6mAAADqYAAAXb5JfxUYAAABnSURBVHja7M5RDYAwDEXRDgmvEocnlrQS2SwUFST9uEfBGWs9c97nbGtDcquqiKhOImLs/UpuzVzWEi1atGjRokWLFi1atGjRokWLFi1atGjRokWLFi1af7Ukz8xWp8z8AAAA//8DAJ4LoEAAlL1nAAAAAElFTkSuQmCC") repeat 0 0;
	 -webkit-animation: bg-scrolling-reverse 0.92s infinite;
	/* Safari 4+ */
	 -moz-animation: bg-scrolling-reverse 0.92s infinite;
	/* Fx 5+ */
	 -o-animation: bg-scrolling-reverse 0.92s infinite;
	/* Opera 12+ */
	 animation: bg-scrolling-reverse 0.92s infinite;
	/* IE 10+ */
	 -webkit-animation-timing-function: linear;
	 -moz-animation-timing-function: linear;
	 -o-animation-timing-function: linear;
	 animation-timing-function: linear;
}
 body::before {
	 content: "Welcome to Foodie!";
	 font-size: 8rem;
	 font-weight: 100;
	 font-style: normal;
}