<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <script type="text/javascript">
      // Get Token
      function test_function(){
        let token = localStorage.getItem('token');
        // alert(token);
        document.getElementById("thetoken").value = token;
        document.getElementById("form").submit();
      }
    </script>
  </head>
  <body>
    <div id="header"></div>
    <form id="form" method="POST" name="form" >
      <input type="hidden" id="thetoken" name="thetoken" >
      <!-- <button type="submit" ></button> -->
      <button type="button" id="send" onclick="test_function()" Post!>Update </button>
    </form>
    <form>
      <input type="button" value="Go back" onclick="history.back()">
     </form>
    <h1> Here are your meals </h1>
    <ul>
      {% for meal in meals %}
          <li>
              
            The tasty meal of: {{meal.meal}}, calories consumed:{{meal.calories_consumed}}
              
          </li>
      {% endfor %}
  </ul>    


  </body>
</html>