<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <script type="text/javascript">
      // Get Token{
        var token = localStorage.getItem('token');
        // alert(token);
        document.getElementById("thetoken").value = token;
        document.getElementById("form").submit();
    </script>
  </head>
  <body>
    <form id="form" method="POST" name="form" >
        <input type="hidden" id="thetoken" name="thetoken">
    </form>
    <h1> Hello </h1>
  </body>
</html>