<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script type="text/javascript"> 
        let username = localStorage.getItem('uname');
        let psw = localStorage.getItem('psw');
        alert("username: "+username +" password: "+psw);
    </script>

</head>
<body>
    <p>
        <var id="test"></var>
    </p>

<script src="static/js/utils.js"> </script>
<script>
    let tp_data = {{text_lists | tojson }};
    console.log(tp_data.key1)
</script>
</body>
</html>