<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to the Foodie webapp</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css') }}">
</head>
<body>
    <div id="header">
        <nav>
            <button onclick="document.getElementById('id01').style.display='block'" style="width:auto;">Login</button>
        </nav>
    </div>
    <h1>Foodie</h1>
    <img src="/static/strong.png">
    <h2>Start tracking how healthy you are eating!</h2>
    <div id="login">
        

    </div>
</body>
</html>